// out: ../css/colorpicker.css, compress: true

@import "../../../../assets/less/core/boot.less";

.field-colorpicker {

    .colorpicker-container {
        position: relative;
        max-width: 250px;
    }

    [data-color-preview] {
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 100%;
        background: @input-bg;
        cursor: pointer;
        border: 1px solid @input-border;
        .box-shadow(@input-box-shadow);
        border-top-left-radius: @input-border-radius;
        border-bottom-left-radius: @input-border-radius;
    }

    [data-color-value] {
        display: inline-block;
        margin-left: 40px;
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

}
