# Ignore build files
**/node_modules/**
build/*.js
**/build/*.js
**/mix.webpack.js

# Ignore all JS except for Mix-based assets
assets/js
!assets/js/snowboard
assets/ui
assets/vendor

# Ignore test fixtures
tests/js
tests/fixtures/themes/test/assets/js
tests/fixtures/themes/npmtest
tests/fixtures/themes/assettest
tests/fixtures/plugins/mix
