@import "tailwindcss";

@config "./tailwind.config.js";

@layer utilities {
    .w-full-storm-fix {
        @apply w-full;
    }
    .hidden-storm-fix {
        @apply hidden;
    }
}

#layout-canvas, #layout-body .layout-row, .nav.nav-tabs{
    background: #fff;
}
#layout-body .layout-row, #layout-body .layout-row .padded-container {
    background: #f9f9f9;
}
.control-tabs.content-tabs > ul.nav-tabs li.active a {
    background: #f9f9f9;
}
.updates-app .modal-content {
    @apply rounded-3xl shadow-sm;
}
